/target
node_modules/
tests/node_modules/
tests/fixture/elm-stuff/
tests/fixture-backup/
*.elmi
*.elmo
*.backup
*.backup2
.DS_Store
tests/cleemo-lamdera-test/
tests/test_cleemo*.mjs
tests/test_isCapacitor.mjs
